.minions{
    color:blue;
}

.galeria{
    width: 50%;
}

body{
    background-color: aliceblue;
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
